p {
  font-size:50px;
  color: white;
  border: 5px dotted white;
  background-color: pink;
  border-radius: 20px;
}

h1 {
  background-color: pink;
  padding: 30px;
  color: white;
}

h2 {
  color: pink;
  padding-top: 25px;
  padding-left: 5px;
  font-size: 25px;
  font-style: italic;
}

a{
  color: white;
  font-style: italic;
}

a:hover {
  color: pink;
  background-color: lightgreen;
  font-style: italic;
}

li {
  font-style: italic;
  padding-bottom: 30px;
  color: pink;
}


.special{
  color: pink;
}
