title {
  writing-mode: vertical-rl;
}
body {
  background-image: <img src= "whitebg.jpeg";
}
p {
  font-size:50px;
  color: white;
  border: 5px dotted white;
  background-color: pink;
  border-radius: 20px;
}

h1 {
  background-color: pink;
  padding: 30px;
  color: white;
  text-shadow: 2px 2px black;
}

h2 {
  color: pink;
  padding-top: 25px;
  padding-left: 300px;
  font-size: 25px;
  font-style: italic;
}

a{
  color: white;
  font-style: italic;
}

a:hover {
  color: pink;
  background-color: lightgreen;
  font-style: italic;
}

ul li {
  font-style: italic;
  font-size: 20px;
  padding-bottom: 30px;
  color: black;
  background: pink;
  margin: 5px;
}


.special{
  color: pink;
}
